@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

*:focus {
   outline: none;
}

html,
body {
   margin: 0;
   padding-bottom: 1rem;
}

body {
   overflow-y: scroll;
   font-family: 'Noto Sans TC', sans-serif;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
}

.switch-wrapper {
   position: relative;
}

.switch-wrapper > div {
   position: absolute;
   width: 100%;
}

.ReactCollapse--collapse {
   transition: height 500ms;
}
